[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=/sonar/sonarqube-10.7.0.96327/bin/linux-x86-64/sonar.sh start
ExecStop=/sonar/sonarqube-10.7.0.96327/bin/linux-x86-64/sonar.sh stop

User=sonar
Group=sonar
Restart=always

LimitNOFILE=65536
LimitNPROC=8192

[Install]
WantedBy=multi-user.target